script(type='text/ng-template', id='login.html').
	<div class="modal-header">
		<h3 class="modal-title">login</h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group"> 
						<input type="email" 
									 placeholder="user@colectifacil.com"
									 maxlength="100"
									 class="form-control" 
									 ng-model="user.email">
					</div>
					<div class="form-group"> 
						<input type="password" 
									 placeholder="*********" 
									 class="form-control" 
									 ng-model="user.password">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="form-group">
							<button class="btn btn-primary btn-block">login</button>
						</div>  
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="form-group">
							<button class="btn btn-primary btn-block" ng-click="login()">login</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer"></div>